<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h1>Error</h1>
            <p><strong><%=email%></strong> already exists.</p>
            <form action="/">
                <button>Main Page</button>
            </form>
        </div>
    </div>
</body>